* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
}

.wrapper {
    width: 1100px;
    margin: auto;
}

#home   {
    padding-top: 5%;
    padding-bottom: 5%;

}

.logo a {
    font-size: 48px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #ffffff;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    z-index: 1;
    background-color: #42c2ff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

/* menambahkan transition */
nav ul li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    position: relative;
    transition: color .4s ease-out;
}

nav ul li a:hover {
    right: 0;
    text-decoration: solid;
}

/* menambahkan after pada a di li nya nav */
nav ul li a:hover:after {
    border-color: rgb(255, 255, 255);
    right: 17%;
}

nav ul li a:after {
    border-top: .1em solid rgb(255, 255, 255);
    content: "";
    position: absolute;
    right: 100%;
    bottom: -0.3em;
    left: 17%;
    transition: right .4s cubic-bezier(0,.6,0,1),
    border-color .4s ease-out;
}
/* batasnya disini */

/* animation humberger  */
span:nth-child(2)   {
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2)  {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #BBE1FA;
}

span:nth-child(4)   {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(4)  {
    background-color: #BBE1FA;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3)  {
    opacity: 0;
    transform: scale(0);
}

/* humberger menu */
.menu-toggle    {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle input  {
    position: absolute;
    width: 40px;
    height: 28px;
    top: -3px;
    left: -5px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span   {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #3282B8;
    border-radius: 3px;
    transition: all 0.5s;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #85f4ff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #01eaff;
    text-decoration: none;
}

a.tbl-mulai {
    background: #42c2ff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-mulai:hover {
    background: #70cbff;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

/* Bagian Awal Abdul Haris */
main    {
    background-color: #EFFFFD;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7%;

}

.txt-main   {
    grid-column-start: 1;
    grid-column-end: -1;
    color: #364f6b;
    text-align: center;
}

figcaption  {
    padding-top: 20px;
    text-align: center;
}

figcaption a    {
    color: #364f6b;
    font-family: 'comic sans ms';
    font-weight: bold;
}

figcaption p    {
    font-family: 'comic sans ms';
    font-weight: bold;
    color: #42c2ff;
}

figure  {
    margin-top: 50px;
    background-color: #85F4FF;
    height: 350px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all 0.5s;
}

figure:hover    {
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: scale(1.01);
}

figure .img {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}


.satu   {
    background-image: url(../image/img1.png);
}

.dua   {
    background-image: url(../image/img2.png);
}

.tiga   {
    background-image: url(../image/img3.png);
}

.empat   {
    background-image: url(../image/img4.png);
}


/*Tambahkan css teman-teman disini dan sesuaikan formatnya  */
/* Bagian awal section */
.section   {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.txt-section    {
    padding-top: 12.5%;
}

.section h3 {
    font-size: 2em;
    display: grid;
    justify-content: center;
    font-size: bold;
    margin-bottom: 5%;
    color: #364f6b;
}

.section ul {
    margin-left: 16%;
}

.section ul li {
    margin-bottom:3%;
    font-size: 1.2em;
    list-style: circle;
    list-style-image: -moz-linear-gradient(0.5, 0.6 #ddd);
}

.img-section    {
    padding-top: 25%;
    width: 100%;
    height: 350px;
    background-image: url(../image/img5.png);
    background-repeat: no-repeat;
    background-position: center;
}
 /* Bagian akhir section */

/* Bagian awal Alaikal Fajri */
footer{
    display: grid;
    grid-template-column: repeat(3, 1fr)	
}


.footer-distributed{
    background-color: #42c2ff;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 100%;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 10px 0 12px;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
    font-size: 24px;
}

.footer-distributed .footer-company-name{
    color:  #2c2c2c;
    font-size: 14px;
    font-weight: normal;
    margin-top: 2%;
    text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 100%;
}


.footer-distributed .footer-center i{
    background-color:  #ffffff;
    color: #2c2c2c;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  
}

.footer-distributed .footer-center p a{
    color:  #ffffff;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 100%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #2c2c2c;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}


.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #ffffff;
    border-radius: 2px;

    font-size: 20px;
    color: #2c2c2c;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-company-name    {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-content: center;
}
/* Bagian akhir Alaikal fajri */

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

