/*  
  phone : 620px
  tablet : 1000px
*/

@media (max-width: 1000px) {
  
/*  Awal bagian Ahmad faozan  */
    .header {
        display: flex;
    }
	
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
/*  Akhir bagian Ahmad Faozan  */
  
/*  Tambahkan responsive  teman-teman untuk tablet  disini ya dan jangan lupa diberi komentar seperti diatas  */

  /* Bagian awal Abdul haris */
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7%;
    }
    /* Bagian akhir Abdul haris */
}

@media (max-width: 620px) {
/* Bagian awal Ahmad Faozan */
  .menu   {
        float: none;
    }

    nav ul {
		display: none;
		position: absolute;
	}
	.menu-toggle    {
		display: flex;
		flex-direction: column;
		height: 20px;
		justify-content: space-between;
		position: relative;
		margin-left: 85%;
		margin-top: 15%;
        z-index: 2;
	}

    nav ul  {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #42c2ff;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        transform: translateY(-100%);
        opacity: 0;
        transition: 1s;
    }
    nav ul li    {
        text-align: center;
        width: 100%;
        padding: 10px;
        display: grid;
    }

    nav ul li:hover    {
        text-align: center;
        width: 100%;
        padding: 25px;
        box-shadow: 0 5px 5px -5px #222831,
        0 -5px 5px -5px #222831;
        font-weight: bold;
    }

    nav ul li a {
        color: #222831;
        font-size: 1.2em;
        text-align: center;
        color: #BBE1FA;
    }
    
    nav ul.slide    {
        transform: translateY(0);
        opacity: 1;
        width: 100%;
    }
/*   Bagian akhir Ahmad faozan */
  
/*  Bagian awal Abdul Haris  */
  main {
        display: grid;
        grid-template-columns: 1fr;
        background-size: cover;
        padding: 10%;
    }
/*  Bagian akhir Abdul Haris  */

}

